Package: com.cryo.universaltweak
Name: Cody's Universal Tweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Cody Thompson
Author: Cody Thompson
Section: Tweaks
Version: 0.0.1-30
Installed-Size: 280
